@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

[class*="img-"],
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: clip;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    background-color: #1a1a1a;
    background-image: url("./images/nav-decoration.jpg");
    color: white;
}

.navbar-logo {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.navbar-links li a:hover {
    color: #fff100;
}

@media (width < 660px) {
    .navbar-links {
        display: none;
    }
}




/* Using Grid to Stack content with images and video */
.stacked {
    /* color: white; */
    display: grid;
}

.stacked>* {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.stacked>.img-main-preview,
.video-main {
    z-index: -1;
}



.sign-in-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10%;
}

button {
    font-weight: 600;
    color: #525249;
    background-color: #fff100;
    border-style: none;
    border-radius: 22px;
    cursor: pointer;
    font-size: 1.2vw;
    padding: 1vh 4vw;
}

@media (max-width: 720px) {
    button {
        font-size: 1.7vw;
        padding: .5vh 4vw;
    }
}




.img-main-preview {
    padding-block: 25%;
    background-image: url("./images/main-preview-large.jpg");
    background-position: center;
}

@media (width < 660px) {
    .img-main-preview {
        padding-block: 80%;
        background-image: url("./images/main-preview-small.jpg");
    }
}

.main-img-side-content {
    background-color: rgb(0, 0, 0, 0.55);
    color: white;
    width: 23rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40%;
    padding-left: 3rem;
}

@media (width < 1190px) { .main-img-side-content { width: 31vw; } }

@media (width < 660px) {
    .main-img-side-content {
        width: 100%;
        height: 31vh;
        margin-top: auto;
    }
    .side-info-svg {
        display: none;
    }
}

.play-btn-paragraph .play-btn {
    margin-bottom: 2rem;
}