@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root {
    --fs-s: .8rem;
    --fs-m: 1rem;
    --fs-h3: 1.2rem;
    --fs-l: 1.5rem;
    --fs-xl: 2.2rem;
    --fs-banner: 9rem;
}

@media (width < 660px) {
    :root {
        --fs-s: .8rem;
        --fs-m: .8rem;
        --fs-h3: 1rem;
        --fs-l: 1.3rem;
        --fs-xl: 1.6rem;
        --fs-banner: 6.7rem;
    }
}

@media (width < 460px) {
    :root {
        --fs-s: .5rem;
        --fs-m: .6rem;
        --fs-h3: .8rem;
        --fs-l: 1.1rem;
        --fs-xl: 1.3rem;
        --fs-banner: 5.3rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

[class*="img-"] {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: clip;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: var(--fs-m);
    padding-top: 5.7rem;
}

.nav-section {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
    position: relative;
}
.navbar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image:
     linear-gradient(90deg,#ff00f0 17.5%,
     #fff100 17.5% 35.6%,
     #00ffa2 35.6% 100%);
    width: 100%;
    height: 2px;
}

.img-navbar-logo { margin-right: 2rem; }
@media (width > 660px) {.img-navbar-logo { margin-left: 2rem; } }



.navbar-links ul,
footer ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li,
footer li {
    list-style: none;
}

.navbar-links li a,
footer li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}
@media (width < 660px) { .navbar-links { display: none; } }

.navbar-links li a:hover { color: #fff100; }



.nav-right-wrapper {
    background-color: yellow;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("./images/nav-yellow-bg.jpg");
    background-position: right;
    background-size: 95%;
    cursor: pointer;
}
@media (width < 700px) {
    .nav-right-wrapper { display: none; }
}



/* Using Grid to Stack content with images and video */
.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.stacked > .img-main-preview,
.video-main, .img-nav-decoration {
    z-index: -1;
}


.img-nav-decoration {
    background-image: url("./images/nav-decoration.jpg");
    padding-block: 3rem;
    background-position: center;
}
@media (width < 700px) { .img-nav-decoration { background-position: 35%; } }


.section-video {
    position: relative;
    overflow: hidden;
    height: 100dvh;
    width: 100%;
}

.video-main {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}


.sign-in-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10%;
}

button {
    font-size: var(--fs-m);
    font-weight: 700;
    color: #525249;
    background-color: #fff100;
    border-style: none;
    border-radius: 22px;
    cursor: pointer;
    padding: .5rem 1.7rem;
    border: 2px solid #bcb30a;

    background-image: url("./images/nav-yellow-bg.jpg");
    background-position: center;
    background-size: 90%;
}

button::before, button::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 4px;
    background-color: #bcb30a;
    vertical-align: middle;
}
button::before { margin-right: 1.5rem; }
button::after{ margin-left: 1.5rem; }


@media (max-width: 720px) {
    .section-video { height: 70vh; }
}




/* Main Image Section  */

.img-main-preview {
    padding-block: 25%;
    background-image: url("./images/main-preview-large.jpg");
    background-position: center;
}

@media (width < 660px) {
    .img-main-preview {
        padding-block: 80%;
        background-image: url("./images/main-preview-small.jpg");
    }
}

.main-img-side-content {
    background-color: rgb(0, 0, 0, 0.55);
    color: white;
    width: 23rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
    padding-left: 3rem;
}

@media (width < 1190px) { .main-img-side-content { width: 31vw; } }

@media (width < 660px) {
    .main-img-side-content {
        width: 100%;
        height: 31vh;
        margin-top: auto;
    }

    .img-logo-big { display: none; }
}

.play-btn-paragraph .play-button { margin-bottom: 2rem; }

.play-btn-paragraph p {
    font-size: var(--fs-s);
    padding-right: min(1rem, 2rem);
}
@media (width < 660px) { .play-btn-paragraph p { font-size: 1rem} }





/* Operators Section  */

.img-fixed-background {
    background-image: url("./images/fixed-bg.jpg");
    padding-block: 25dvh;
    background-attachment: fixed;
}


.img-banner-white {
    background-image: url("./images/block-texture.jpg");
    z-index: 0;
    height: 27vh;
}

.banner-text-operator { padding-left: 2rem; }

.img-banner-white div {
    font-family: 'Inter', sans-serif;
    font-size: 10vw;
    margin-top: 4vh;
    opacity: 0.45;

    background: repeating-linear-gradient(
      -55deg,
      black,
      black 1px,
      white 1px,
      white 4px
      );
    background-clip: text;
    color: transparent;
}

@media (width < 1200px) { .img-banner-white div { padding-top: 4vh; } }
@media (width < 1000px) { .img-banner-white div { padding-top: 6.5vh; } }
@media (width > 1500px) { .img-banner-white div { padding-top: 0vh; } }

@media (width < 700px) { .img-banner-white div { display: none; } }

.op-img-wrapper {
    z-index: 3;
    width: 90%;
    margin-left: auto;
}

.img-operator {
    margin-top: -5%;
    padding-block: 55%;
    animation: slide-in-alt 1000ms;
    z-index: 100;
}

/* Create animations for Operators appearances */
@keyframes slide-in {
    from {
        transform: translateX(-10%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-in-alt {
    from {
        transform: translateX(-10%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.img-operator-0 { background-image: url("./images/char-1.png"); }
.img-operator-1 { background-image: url("./images/char-2.png"); }
.img-operator-2 { background-image: url("./images/char-3.png"); }
.img-operator-3 { background-image: url("./images/char-4.png"); }
.img-operator-4 { background-image: url("./images/char-5.png"); }

.img-operator { grid-area: image }
.character-info { grid-area: text; }

.grid-operators-layout {
    margin-top: 13vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        'image text';
}


.character-info { z-index: 1; }

@media (width > 700px) { .character-info { padding-right: 4rem; } }

.character-info .h2 { 
    font-size: var(--fs-xl); 
    font-weight: 800;
}

.character-info .h3, .character-info .bio {
    margin-bottom: .5rem;
    padding-right: 1.5rem;
}

@media (width > 1600px) { .character-info .h3, .character-info .bio { padding-right: 6rem; } }

.character-info .h3 { font-size: var(--fs-h3); }

.character-info .bio { font-size: var(--fs-m); }


.endfield-decoration {
    font-size: var(--fs-s);
    color: white;
    background-color: black;
    padding-inline: .5rem;
    margin-bottom: 1rem;

    position: relative;
    display: inline-block;
}

/* Make space for the decorative text on smaller screens  */

@media (width < 660px) {
    .op-name {margin-bottom: -1rem; }

    .character-info .h3 { margin-bottom: .5rem; }

    .endfield-decoration { margin-bottom: .5rem; }
}


/* Decorate the text using pseudo elements  */

.endfield-decoration::before, .endfield-decoration::after {
    content: '';
    height: .8rem;
    display: block;
    position: absolute;
}

.endfield-decoration::before {
    background-color: #fff100;
    width: 100vw;
    right: 100%;
    bottom: 0;
    overflow-x: clip;
}

.endfield-decoration::after {
    width: 40vw;
    left: 100%;
    bottom: 0;
    overflow-x: clip;

    opacity: 0.45;

    background: repeating-linear-gradient(
      -55deg,
      black,
      black 1px,
      white 1px,
      white 4px
      );
}


.img-char-box-1 { background-image: url("./images/portrait01.webp"); }
.img-char-box-2 { background-image: url("./images/portrait02.webp"); }
.img-char-box-3 { background-image: url("./images/portrait03.webp"); }
.img-char-box-4 { background-image: url("./images/portrait04.webp"); }
.img-char-box-5 { background-image: url("./images/portrait05.webp"); }

.character-select-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    width: 35.5vw;
    height: 16.5vw;
    margin-top: 3rem;
    z-index: 10;
}

@media (width < 600px) and (height < 600px) {
    .character-select-wrapper {
        width: 20vh;
        height: 8.25vh;
        margin-top: 0;
    }
}

@media (width < 900px) and (height > 600px) {
    .character-select-wrapper {
        width: 44.5vw;
        height: 18.5vw;
        margin-top: 0;
    }
}



.img-char-box {
    background-position: 6.5%;
    cursor: pointer;
    background-color: #fff100;
    position: relative;
    transition: 0.6s ease background-position;
}
.img-char-box:hover { background-position: center; }

.active { background-position: center; }

.inactive { background-color: #44443c; }

.inactive::before, .inactive::after,
.img-char-box::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Grayed out filter  */
.inactive::before {
    background-color: #343432;
    opacity: 0.8;
}

/* Change background color on hover + Add yellow filter  */
.inactive:hover {
    background-color: #fff100;
}

.img-char-box:hover::before {
    background-color: #f6ff00;
    opacity: 0.5;
}



/* Latest News Section  */

.section-title {
    font-size: var(--fs-xl);
    font-weight: 800;
}

.banner-yellow-wrapper { margin-top: auto; }

.text-banner-yellow {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-banner);

    opacity: 0.6;
    background: repeating-linear-gradient(
      -55deg,
      black,
      black 1px,
      #f7f719 1px,
      #f7f719 4px
      );
    background-clip: text;
    color: transparent;
}

.banner-news-wrapper {
    margin-top: auto;
    z-index: 1;
    position: relative;
}

.img-banner-news {
    background-image: url("./images/block-texture-yellow.jpg");
    width: 100%;
    height: 16rem;
}

.deco-line-left {
    height: .8rem;
    transform: translateX(-50%);
    width: 100%;

    background: repeating-linear-gradient(
      -55deg,
      black,
      black 1px,
      #f1f117 1px,
      #f1f117 4px
      );
}

.deco-line-left::before {
    content: '-';
    display: inline-block;
    background-color: black;
    width: 100%;
    height: .8rem;
    transform: translateX(-50%);
}



.img-card-1 { background-image: url("./images/test-end-notice.jpg"); }
.img-card-2 { background-image: url("./images/test-start-notice.jpg"); }
.img-card-3 { background-image: url("./images/test-access-notice.jpg"); }
.img-card-4 { background-image: url("./images/content-creators-notice.jpg"); }


.card {
    width: 23.5vw;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 8px 6px -8px black;
    cursor: pointer;
    transition: .2s ease-out;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px 5px #ccc;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-block: 2rem;
    padding-right: 2rem
}

@media(width < 1000px) { .card { width: 20rem; font-size: .8rem; } }

@media (width > 980px) { 
    .left-spaced { margin-left: 35vw; } 
}


@media (width < 980px) {
    .left-spaced:not(.cards-flex) {
        margin-left: 2rem;
    }

    .left-spaced {
        justify-content: center;
    }
}

.card-text { padding: 0 1rem 1rem 1rem; }

.card-text h3 { font-weight: 600; }

.card-text span { font-size: .7em; }

.img-card {
    padding-top: 60%;
    background-size: 100%;
}



footer {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    color: #959595;
}
@media (width < 660px) { footer { font-size: .8rem; } }

footer li { padding-inline: .5rem; }

.links li {
    color: rgb(232, 232, 232);
    padding-inline: 1rem;
    margin-top: .5rem;
    cursor: pointer;
}

.socials-links {
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 1rem;
}

footer .gryphline-copyrights {
    text-align: center;
    padding-block: 1rem;
    color: #959595;
}

.links li:nth-child(-n+2) {
    border-right: 1px solid #6c6c6c;
}

.copyrights {
    font-size: var(--fs-s);
    padding-block: 1rem;
}






/* Heavier layout changes for mobile screens */

@media (width < 700px) and (height < 1000px) {

    .grid-operators-layout {
        margin-top: 15vh;
        display: flex;
    }

    .grid-operators-layout {
        margin-top: 2rem;
        flex-direction: column;
    }

    .op-img-wrapper {
        margin-inline: auto;
        margin-top: 2rem;
    }

    .character-info { margin-inline: auto; }

    .character-select-wrapper {
        padding-top: .5rem;
        width: 95vw;
        height: 45vw;
    }

    .info-text { display: none; }

    .img-banner { height: 38vh; }
}



